In [ ]:
#1. CREATE A DATAFRAME

In [1]:
# load library
import pandas as pd
# create dataframe
dataframe = pd.DataFrame()
# add columns
dataframe['Name'] = ['Lemon','Apple','Banana']
dataframe['Price'] = [5,8,7]
dataframe['License'] = [False, True, True]
# show data
dataframe

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [2]:
df = dataframe 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [3]:
list(df.columns)

['Name', 'Price', 'License']

In [4]:
df.describe()

          Price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [8]:
df.loc[(df.Price == 5)]

    Name  Price  License
0  Lemon      5    False

In [7]:
df.loc[(df.Price == 5) | (df.Name == 'Banana')]

     Name  Price  License
0   Lemon      5    False
2  Banana      7     True

In [14]:
df.loc[(df.Price == 5) | (df.Name == 'Banana') , ('Name', 'Price')]

     Name  Price
0   Lemon      5
2  Banana      7

In [15]:
df.iloc[2]

Name       Banana
Price           7
License      True
Name: 2, dtype: object

In [16]:
df.iloc[2]
type(df.iloc[2])

pandas.core.series.Series

In [21]:
df.iloc[0:2]

    Name  Price  License
0  Lemon      5    False
1  Apple      8     True

In [28]:
df.iloc[0:2,-2]

0    5
1    8
Name: Price, dtype: int64

In [25]:
df.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [27]:
df.iloc[0:2,0:-3]

Empty DataFrame
Columns: []
Index: [0, 1]

In [30]:
sum = df.Price.sum()
print(sum)

20

In [32]:
max = df.Price.max()
print(max)

8

In [34]:
count = df.Price.count()
print(count)

3

In [43]:
# create row data
new = pd.Series(['Orange',10,True], index=['Name','Price','License'])
# append row
dataframe.append(new, ignore_index=True)

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True     SING
3  Orange     10     True      NaN

In [40]:
# append column
dataframe['Location'] = ['USA','VN','SING']

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True     SING

In [49]:
# remove row
dataframe.drop(1, axis=0).head(5)

     Name  Price  License Location
0   Lemon      5    False      USA
2  Banana      7     True     SING

In [50]:
# remove column
dataframe.drop('Location', axis=1).head()

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [55]:
# replace
dataframe['Price'].replace(5,7).head()

0    7
1    8
2    7
Name: Price, dtype: int64

In [56]:
# rename column
dataframe.rename(columns = {'Price':'Cost'}).head()

     Name  Cost  License Location
0   Lemon     5    False      USA
1   Apple     8     True       VN
2  Banana     7     True     SING

In [57]:
dataframe

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True     SING

In [59]:
# load library
import pandas as pd
# create url
url = 'http://winterolympicsmedals.com/medals.csv'
# load data
dataframe = pd.read_csv(url)
# show data
dataframe.head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold

In [60]:
data = dataframe
data.shape

(2311, 8)

In [62]:
data.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [71]:
df.head(5)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [73]:
df.iloc[0]

Year                      1924
City                  Chamonix
Sport                  Skating
Discipline      Figure skating
NOC                        AUT
Event               individual
Event gender                 M
Medal                   Silver
Name: 0, dtype: object

In [72]:
df.iloc[3]

Year                 1924
City             Chamonix
Sport           Bobsleigh
Discipline      Bobsleigh
NOC                   BEL
Event            four-man
Event gender            M
Medal              Bronze
Name: 3, dtype: object

In [84]:
df.loc[(df.Medal == 'Gold')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
...,...,...,...,...,...,...,...,...
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [86]:
mg = df.loc[(df.Medal == 'Gold'),['Medal']]
print(mg.count())

Medal    774
dtype: int64

In [85]:
data.iloc[[200,]]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
200,1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold

In [101]:
data = data.set_index(data['NOC'])
data.loc['GER']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
GER,1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze
GER,1932,Lake Placid,Bobsleigh,Bobsleigh,GER,four-man,M,Bronze
GER,1932,Lake Placid,Ice Hockey,Ice Hockey,GER,ice hockey,M,Bronze
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,individual,M,Silver
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,pairs,X,Gold
...,...,...,...,...,...,...,...,...
GER,2006,Turin,Skiing,Cross Country S,GER,sprint 1.5km,W,Silver
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual,M,Gold
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual sprint,M,Bronze
GER,2006,Turin,Skiing,Nordic Combined,GER,Team,M,Silver
GER,2006,Turin,Skiing,Snowboard,GER,Giant parallel slalom,W,Silver

In [93]:
data[(data['Year']>=1980) & (data['Medal']=='Gold')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
AUT,1980,Lake Placid,Skiing,Alpine Skiing,AUT,downhill,M,Gold
AUT,1980,Lake Placid,Skiing,Alpine Skiing,AUT,downhill,W,Gold
AUT,1980,Lake Placid,Skiing,Ski Jumping,AUT,K90 individual (70m),M,Gold
FIN,1980,Lake Placid,Skiing,Ski Jumping,FIN,K120 individual (90m),M,Gold
GBR,1980,Lake Placid,Skating,Figure skating,GBR,individual,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
USA,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [115]:
data['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [110]:
data['Sport'].unique()

array(['Skating', 'Bobsleigh', 'Ice Hockey', 'Biathlon', 'Skiing',
       'Curling', 'Luge'], dtype=object)

In [98]:
data = pd.read_csv(url)
data.groupby('NOC').head(5)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2129,2006,Turin,Skiing,Cross Country S,EST,15km,M,Gold
2202,2006,Turin,Luge,Luge,LAT,singles,M,Bronze
2269,2006,Turin,Skiing,Snowboard,SVK,Snowboard Cross,M,Silver
2284,2006,Turin,Biathlon,Biathlon,UKR,7.5km,W,Bronze
2285,2006,Turin,Skating,Figure skating,UKR,ice dancing,X,Bronze

In [108]:
data.groupby('Discipline').count()

                 Year  City  Sport  NOC  Event  Event gender  Medal
Discipline
Alpine Skiing     367   367    367  367    367           367    367
Biathlon          162   162    162  162    162           162    162
Bobsleigh         115   115    115  115    115           115    115
Cross Country S   399   399    399  399    399           399    399
Curling            21    21     21   21     21            21     21
Figure skating    207   207    207  207    207           207    207
Freestyle Ski.     54    54     54   54     54            54     54
Ice Hockey         69    69     69   69     69            69     69
Luge              108   108    108  108    108           108    108
Nordic Combined    84    84     84   84     84            84     84
Short Track S.     96    96     96   96     96            96     96
Skeleton           18    18     18   18     18            18     18
Ski Jumping       114   114    114  114    114           114    114
Snowboard          42    42     42   42     42            42     42
Speed skating     455   455    455  455    455           455    455

In [100]:
def uppercase(x):
  return x.upper()
data['Event'].apply(uppercase)[0:10]

0         INDIVIDUAL
1         INDIVIDUAL
2              PAIRS
3           FOUR-MAN
4         ICE HOCKEY
5    MILITARY PATROL
6              PAIRS
7             10000M
8             10000M
9              1500M
Name: Event, dtype: object

In [105]:
data.loc['HUN']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
HUN,1932,Lake Placid,Skating,Figure skating,HUN,pairs,X,Bronze
HUN,1936,Garmisch-Partenkirchen,Skating,Figure skating,HUN,pairs,X,Bronze
HUN,1948,St. Moritz,Skating,Figure skating,HUN,pairs,X,Silver
HUN,1952,Oslo,Skating,Figure skating,HUN,pairs,X,Bronze
HUN,1956,Cortina d'Ampezzo,Skating,Figure skating,HUN,pairs,X,Bronze
HUN,1980,Lake Placid,Skating,Figure skating,HUN,ice dancing,X,Silver

In [104]:
data[data['NOC']=='FIN'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
FIN,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
FIN,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
FIN,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
FIN,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
FIN,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
FIN,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
FIN,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold

In [106]:
data['Medal'].value_counts()

Gold      774
Silver    773
Bronze    764
Name: Medal, dtype: int64

In [116]:
data.groupby(['Sport','Discipline']).count()

                            Year  City  NOC  Event  Event gender  Medal
Sport      Discipline
Biathlon   Biathlon          162   162  162    162           162    162
Bobsleigh  Bobsleigh         115   115  115    115           115    115
           Skeleton           18    18   18     18            18     18
Curling    Curling            21    21   21     21            21     21
Ice Hockey Ice Hockey         69    69   69     69            69     69
Luge       Luge              108   108  108    108           108    108
Skating    Figure skating    207   207  207    207           207    207
           Short Track S.     96    96   96     96            96     96
           Speed skating     455   455  455    455           455    455
Skiing     Alpine Skiing     367   367  367    367           367    367
           Cross Country S   399   399  399    399           399    399
           Freestyle Ski.     54    54   54     54            54     54
           Nordic Combined    84    84   84     84            84     84
           Ski Jumping       114   114  114    114           114    114
           Snowboard          42    42   42     42            42     42

In [118]:
dataframe

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [119]:
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
AUT,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
AUT,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
BEL,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver